database_dsn: "user:pass@tcp(127.0.0.1:3306)/db?parseTime=true&loc=Local"
grpc_host: "127.0.0.1"
grpc_port: "8080"
redis_url: "localhost:6379"
log_path: "./log/log.txt"
rotate_log_path: "./log/%Y-%m-%d.log"
http_host: "127.0.0.1"
http_port: "8081"
api_token: "api_token"

api_billing_url: "api_billing_url"
api_billing_user: "api_billing_user"
api_billing_password: "api_billing_password"

api_telegram_log_bot_key: "api_telegram_log_bot_key"
api_telegram_log_bot_chat_id: "api_telegram_log_bot_chat_id"
